[submodule "cbj_remote-pipes"]
	path = cbj_remote-pipes
	url = https://github.com/CyBear-Jinni/cbj_remote-pipes.git
[submodule "cbj_hub"]
	path = cbj_hub
	url = https://github.com/CyBear-Jinni/cbj_hub.git
[submodule "cbj_app"]
	path = cbj_app
	url = https://github.com/CyBear-Jinni/cbj_app.git
[submodule "remote_pipes_routing"]
	path = remote_pipes_routing
	url = https://github.com/CyBear-Jinni/remote_pipes_routing.git
[submodule "security_bear"]
	path = security_bear
	url = https://github.com/CyBear-Jinni/security_bear.git
