[submodule "CBJ_Smart-Device"]
	path = CBJ_Smart-Device
	url = https://github.com/CyBear-Jinni/CBJ_Smart-Device.git
[submodule "CBJ_App"]
	path = CBJ_App
	url = https://github.com/CyBear-Jinni/CBJ_App.git
[submodule "Security-Bear"]
	path = Security-Bear
	url = https://github.com/CyBear-Jinni/Security-Bear.git
